.title {
    margin-left: 6%;
    margin-bottom: 2%;
}

.home .title h1 {
    margin: 0px;
}

.apps-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.apps-display div {
    width: 16em;
    height: 10em;
}

.process {
    margin-top: 5em;
    margin-left: 6%;
}