.navbar {
    border-image: linear-gradient(90deg, #0CCF7B, #29CFCF) 1;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    margin-bottom: 8em;
}

.navbar h1 {
    margin-bottom: 0px;
    padding-left: 0.5em;
    width: 10em;
    margin-top: 0px;
}

@media only screen and (max-width: 856px) {
    .navbar {
        margin-bottom: 15%;
    }
}